@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

#history {
  .parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .input-container {
    justify-content: space-around;
    align-items: center;
    width: $parentWidth;
    height: 100px;
    max-width: $parentMaxWidth;
    position: relative;
    z-index: 0;
  }
  .input {
    width: $dotWidth;
    height: $dotWidth;
    background-color: $active;
    position: relative;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      background-color: $active;
      width: calc($parentWidth / $numDots);
      height: 5px;
      max-width: calc($parentMaxWidth / $numDots);
    }
    &::before {
      left: calc(calc(-1 * $parentWidth / $numDots) + calc($dotWidth / 2));
    }
    &::after {
      right: calc(calc(-1 * $parentWidth / $numDots) + calc($dotWidth / 2));
    }
    &.active {
      background-color: $active;
      &::before {
        background-color: $active;
      }
      &::after {
        background-color: $inactive;
      }
      span {
        font-weight: 700;
        &::before {
          font-size: 15px;
        }
        &::after {
          font-size: 18px;
        }
      }
    }
    &.active ~ .input {
      &,
      &::before,
      &::after {
        background-color: $inactive;
      }
    }
    span {
      width: 1px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      &::before,
      &::after {
        visibility: visible;
        position: absolute;
        left: 50%;
      }
      &::after {
        content: attr(data-year);
        top: -50px;
        transform: translateX(-50%);
        font-size: 14px;
      }
    }
  }
  .description-container {
    flex: 1 1 auto;
    margin-bottom: 100px;

    .article {
      display: none;
      position: relative;

      .section {
        &__textarea {
          &__title {
            border-bottom: solid 3px $accent-color;
          }

          &__paragraph {
            display: none;
          }
        }
      }

      &.active {
        display: block;
      }

      .toggle-btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        color: #ffffff;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        background: rgb(204, 12, 79);

        &__text {
          font-size: 15px;
          font-weight: 700;
        }

        & .active {
          &__arrow__icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .gallery {
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__frame {
      flex: 0 1 260px;
      position: relative;
      box-shadow: 10px 10px 30px -4px rgba(0, 0, 0, 0.75);
      border-radius: 40px;
      cursor: pointer;
      overflow: hidden;
      margin: 20px 0 20px 0;

      &__picture {
        width: 100%;
      }
    }
  }
}
