@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

#history {
  .article {
  &__section {
    display: flex;
    justify-content: space-between;

    &__textarea {
      display: flex;
      flex-direction: column;
      width: 60%;

      &__title {
        text-align: center;
        font-family: $titles;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: solid 1px $accent-color;
      }

      &__paragraph {
        text-align: justify;
        padding: 5px;
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;

      &__container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        height: 200px;
        width: 300px;
        box-shadow: 10px 10px 30px -4px rgba(0, 0, 0, 0.75);
        border: solid 1px $color-black;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        &__picture {
          width: 120%;
          height: 120%;
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
}
