@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

@include desktop-layout {
    main {
        width: 1224px;
        margin-left: auto;
        margin-right: auto;
    }
}

.bells {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-align: center;
    }
}