@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__paragraph {
    width: 100%;
  }
}
