@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#About-S2 {
  .section__articles {
    justify-content: space-between;
    .article {
      width: 30%;
    }
  }
}

#About-S2A1 {
  margin-top: 0;
}

#About-S2A2 {
  margin-top: 250px;
}

#About-S2A3 {
  margin-top: 500px;
}
