@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

// Navigation

.navigation {
  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    text-decoration: none;
    border: none;
    right: 10px;
    top: 0;
    padding: 0;
    background-color: transparent;

    &__menu {
      z-index: 100;
      display: block;
      width: $burger-menu-radius;
      height: $burger-menu-radius;
      outline: none;
      cursor: pointer;

      &__line {
        position: absolute;
        left: 25%;
        width: 50%;
        height: 3px;
        background: hsla(0, 0%, 100%, 0.7);
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;

        &:nth-child(1) {
          top: 30%;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 70%;
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: red;
          transform: translateX(-100%);
          transition: 0.25s;
        }

        @for $i from 2 through 3 {
          &:nth-child(#{$i})::after {
            transition-delay: 0.1s * ($i - 1);
          }
        }
      }

      &:hover {
        .navigation__burger__menu__line::after {
          transform: translateX(0);
        }
      }
    }
  }

  &__menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1;

    top: 50px;
    height: 100%;
    background: rgba($secondary-color, 0.5);

    &__nav {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      text-align: center;
      list-style-type: none;
      justify-content: space-around;
      width: 100%;

      &__link {
        position: relative;
        display: inline-flex;
        font-size: 200%;
        color: $primary-color;
        text-decoration: none;

        span {
          overflow: hidden;
        }

        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: var(--primary-color);
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

// Burger toggle button action

.navigation__burger[toggle="1"] {
  .navigation {
    &__menu {
      opacity: 1;
      visibility: visible;
    }

    &__nav__link span div {
      transform: translateY(0);
      transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
    }

    &__burger__menu__line {
      &::after {
        transform: translateX(0);
      }

      &:nth-child(1) {
        transform: translateY(calc($burger-menu-radius / 5)) rotate(45deg);
      }

      &:nth-child(2) {
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: translateY(calc($burger-menu-radius / -5)) rotate(-45deg);
      }
    }
  }
}
