@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

.news {
  display: flex;
  flex-direction: column;

  &__title {
  }
}

.carousel {
  padding-top: 100px;

  &__slide {
    text-align: -webkit-center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__image {
      height: 300px;
    }
  }
}

@include desktop-layout {
  .carousel {
    padding-top: 100px;

    &__slide {
      text-align: -webkit-center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &__image {
        height: 300px;
      }
    }
  }
}

@include small-desktop-layout {
  .news {
    &__title {
      margin-left: 50px;
    }

    &__article {
      justify-content: space-around;
    }
  }

  .carousel {
    padding-top: 100px;

    &__slide {
      text-align: -webkit-center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &__image {
        height: 300px;
      }
    }
  }
}
@include mobile-layout {
  .carousel {
    padding-top: 100px;
    margin-bottom: 40px;

    &__slide {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &__image {
        height: 300px;
      }
    }

    .slick-arrow {
      z-index: 1;
    }

    .slick-next {
      right: 25px;
    }

    .slick-prev {
      left: 25px;
    }

    .slick-dots {
      bottom: 0;
    }
  }
}
