@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

#home {
  article {
    margin-top: 50px;
    margin-bottom: 50px;

    .gallery {
      display: flex;
      padding: 2px;
      transition: 0.3s;

      &:hover &__column__card__thumb__image {
        filter: grayscale(1);
      }

      &__column {
        display: flex;
        flex-direction: column;

        &__card {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          
          &:hover {
            cursor: pointer;

            .gallery__column__card__thumb__image {
              filter: grayscale(0);
            }

            .gallery__column__card__thumb__caption {
              opacity: 1;
            }
          }

          &__thumb {
            position: relative;

            &__image {
              display: block;
              width: 100%;
              transition: 0.3s;

              &:hover {
                transform: scale(1.1);
              }
            }

            &__caption {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translatex(-50%);
              padding: 25px 15px 15px;
              width: 100%;
              font-family: "Raleway", sans-serif;
              font-size: 16px;
              color: white;
              opacity: 0;
              background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

@include desktop-layout {
  .gallery {
    &__column {
      flex-direction: column;
      width: 10%;

      &__card {
        margin: 5px;
        overflow: hidden;
      }
    }
  }
}

@include small-desktop-layout {
}

@include mobile-layout {
  #home {
    article {
      p {
        padding: 0 3rem 0 3rem;
      }

      .gallery {
        flex-direction: column;

        &__column {
          flex-direction: row;
          width: 100%;

          &__card {
            margin: 10px;
            width: calc(100% / 3);

            &__thumb {
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              border-radius: 10px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
