@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

.slider {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0;

  &[data-open="1"] {
    display: flex;
    animation: fade ease 1s forwards;
  }

  &[data-open="0"] {
    display: none;
  }

  &__backgroung {
    position: fixed;
    background-color: rgba(black, 0.9);
    border: none;
    width: 100%;
    height: 100%;
  }

  &__shut {
    position: absolute;
    top: 0;
    right: 0;
    width: $desktop-header-radius;
    height: $desktop-header-radius;
    background-color: transparent;
    opacity: 0.5;
    border: none;
    cursor: pointer;
    z-index: 4;

    &__line {
      position: absolute;
      left: 25%;
      width: 50%;
      height: 3px;
      background-color: $accent-color;
      border-radius: 10px;
      overflow: hidden;

      &:nth-child(1) {
        top: 30%;
        transform: translateY(calc($desktop-header-radius / 5)) rotate(45deg);
      }

      &:nth-child(2) {
        top: 70%;
        transform: translateY(calc($desktop-header-radius / -5)) rotate(-45deg);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  &__carousel {
    position: relative;
    width: 1024px;
    height: 700px;

    &__slide {
      text-align: -webkit-center;
      
      &__image {
        height: 700px;
      }
    }

    &__dots {
      opacity: .75;
      
       & li button {
        background-color: $accent-color;
        color: transparent;
        border-radius: 50%;
       }
    }
  }
}

.slick-track {
  margin:auto;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
