@import "../../sass-utils/mixins.scss";
@import "../../sass-utils/variables.scss";

//Keyframes

@keyframes dropdown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

@keyframes raise {
  from {
    height: 100%;
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// Navigation

.navigation {
  & span div {
    font-family: $titles;
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    text-decoration: none;
    border: none;
    right: 10px;
    top: 0;
    padding: 0;
    background-color: transparent;
    z-index: 5;

    &__menu {
      display: block;
      outline: none;
      cursor: pointer;

      &__line {
        position: absolute;
        left: 25%;
        width: 50%;
        height: 3px;
        background: rgba($secondary-color, 0.7);
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;

        &:nth-child(1) {
          top: 30%;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 70%;
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $secondary-color;
          transform: translateX(-100%);
          transition: 0.25s;
        }

        @for $i from 2 through 3 {
          &:nth-child(#{$i})::after {
            transition-delay: 0.1s * ($i - 1);
          }
        }
      }

      &:hover {
        .navigation__burger__menu__line::after {
          transform: translateX(0);
        }
      }
    }
  }

  &__menu {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1;

    &__nav {
      display: flex;
      margin: 0;
      padding: 0;
      text-align: center;
      list-style-type: none;
      width: 100%;

      &__link a {
        position: relative;
        display: inline-flex;
        text-decoration: none;

        span {
          overflow: hidden;
        }

        &:hover div {
          color: $color-white;
        }

        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: $accent-color;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

// Media queries

@include desktop-layout {
  .navigation {
    &__burger {
      display: none;
    }

    &__menu {
      opacity: 1;
      visibility: visible;
      top: 0;
      left: 10%;
      right: 10%;
      height: $desktop-header-radius;
      background: transparent;

      &__nav {
        justify-content: center;

        &__link {
          position: relative;
          display: flex;
          padding-left: 40px;
          padding-right: 40px;
          align-items: center;
          justify-content: center;

          & a {
            color: $color-black;
            z-index: 2;
          }

          &__submenu {
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: space-around;
            background-color: transparent;
            visibility: hidden;
            opacity: 0;
            z-index: 3;
            top: calc($desktop-header-radius / 2) + 10px;
            padding-top: calc($desktop-header-radius / 2) - 10px;
            width: 200px;
            left: 50%;
            transform: translateX(-50%);

            &__link {
              background-color: $primary-color;

              & a {
                width: 100%;

                & span div {
                  font-size: 13px;
                  padding: 5px;
                }
              }
            }

            &:hover {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
      .btn--mobile {
        display: none;
      }
    }
  }

  .with-submenu:hover {
    + .navigation__menu__nav__link__submenu {
      visibility: visible;
      animation: FadeIn 700ms ease;
    }
  }
}

@include small-desktop-layout {
  .navigation {
    &__menu {
      right: 0;

      &__nav {
        justify-content: center;
      }
    }
  }
}

@include mobile-layout {
  // Burger toggle button action

  .navigation {
    &__burger[data-toggle="1"] {
      .navigation__burger__menu__line {
        &::after {
          transform: translateX(0);
        }
        &:nth-child(2) {
          transform: scaleX(0);
        }
      }
    }

    &__menu {
      &[data-toggle="0"] {
        opacity: 0;
        visibility: hidden;
      }

      &[data-toggle="1"] {
        opacity: 1;
        visibility: visible;
      }

      &__nav {
        justify-content: center;

        &__link span div {
          transform: translateY(0);
          transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
        }
      }
    }
  }

  // Mobile layout
  .navigation {
    &__burger {
      display: block;

      &__menu {
        width: $mobile-header-radius;
        height: $mobile-header-radius;
      }

      &[data-toggle="0"] {
        + .navigation__menu {
          animation: raise ease-in-out 700ms forwards;
        }

        .navigation__burger__menu__line {
          &:nth-child(1) {
            transform: translateY(0) rotate(0);
          }

          &:nth-child(3) {
            transform: translateY(0) rotate(0);
          }
        }
      }

      &[data-toggle="1"] {
        + .navigation__menu {
          animation: dropdown ease-in-out 700ms forwards;
        }

        .navigation__burger__menu__line {
          &:nth-child(1) {
            transform: translateY(calc($mobile-header-radius / 5)) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(calc($mobile-header-radius / -5)) rotate(-45deg);
          }
        }
      }
    }

    &__menu {
      top: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      background: radial-gradient(circle, $dark-color 0%, $primary-color 100%);

      &__nav {
        flex-direction: column;

        &__link {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          padding-bottom: 20px;
          align-items: center;
          justify-content: center;

          & a {
            z-index: 2;
            div {
              color: $color-white;
            }
          }

          &__submenu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            background-color: transparent;
            z-index: 3;

            &__link {
              margin-top: 10px;

              & a {
                & span div {
                  font-size: 10px;
                  padding: 6px;
                }
              }
            }

            &:hover {
              display: flex;
            }
          }
        }
      }

      .btn--mobile {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
      }
    }
  }
}

@include tablet-layout {
  // Burger toggle button action

  .navigation {
    &__burger[data-toggle="1"] {
      .navigation__burger__menu__line {
        &::after {
          transform: translateX(0);
        }
        &:nth-child(2) {
          transform: scaleX(0);
        }
      }
    }

    &__menu {
      &[data-toggle="0"] {
        opacity: 0;
        visibility: hidden;
      }

      &[data-toggle="1"] {
        opacity: 1;
        visibility: visible;
      }

      .navigation__menu__nav__link span div {
        transform: translateY(0);
        transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
      }
    }
  }

  // Tablet layout
  .navigation {
    &__burger {
      display: block;

      &__menu {
        width: $tablet-header-radius;
        height: $tablet-header-radius;
      }

      &[data-toggle="0"] {
        + .navigation__menu {
          animation: raise ease-in-out 700ms forwards;
        }

        .navigation__burger__menu__line {
          &:nth-child(1) {
            transform: translateY(0) rotate(0);
          }

          &:nth-child(3) {
            transform: translateY(0) rotate(0);
          }
        }
      }

      &[data-toggle="1"] {
        + .navigation__menu {
          animation: dropdown ease-in-out 700ms forwards;
        }

        .navigation__burger__menu__line {
          &:nth-child(1) {
            transform: translateY(calc($tablet-header-radius / 5)) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(calc($tablet-header-radius / -5)) rotate(-45deg);
          }
        }
      }
    }

    &__menu {
      top: $tablet-header-radius;
      width: 30%;
      height: 0;
      overflow: hidden;
      background: radial-gradient(circle, $dark-color 0%, $primary-color 100%);

      &__nav {
        flex-direction: column;
        margin-top: $tablet-header-radius;

        &__link {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          padding-bottom: 20px;
          align-items: center;
          justify-content: center;

          & a {
            div {
              color: $color-white;
            }
          }

          &__submenu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-around;
            background-color: transparent;

            &__link {
              margin-top: 10px;

              & a {
                & span div {
                  font-size: 10px;
                  padding: 6px;
                }
              }
            }

            &:hover {
              display: flex;
            }
          }
        }
      }

      .btn--mobile {
        position: absolute;
        bottom: calc($tablet-header-radius * 2);
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
      }
    }
  }
}
